absl-py
accelerate
aiohttp
aiosignal
alignment-handbook
alpaca_eval
annotated-types
anyio
asttokens
async-timeout
attrs
bitsandbytes
certifi
charset-normalizer
click
cloudpickle
cmake
comm
contourpy
cycler
datasets
debugpy
decorator
deepspeed
dill
diskcache
distro
dm-tree
dnspython
docker-pycreds
docstring_parser
einops
email_validator
evaluate
exceptiongroup
executing
fastapi
fastapi-cli
filelock
fire
flash-attn
flashinfer
datasets
accelerate
deepspeed
evaluate
matplotlib
hydra-core
omegaconf
peft
rouge_score
tqdm
matplotlib
einops
packaging
bitsandbytes
scipy
ninja
fonttools
frozenlist
fsspec
gitdb
GitPython
grpcio
h11
hf_transfer
hjson
httpcore
httptools
httpx
huggingface-hub
idna
interegular
ipdb
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
lark
llvmlite
lm-format-enforcer
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mpmath
msgpack
multidict
multiprocess
nest-asyncio
networkx
ninja
numba
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-ml-py
nvidia-nccl-cu11
nvidia-nvtx-cu11
openai
outlines
packaging
pandas
parso
patsy
peft
pexpect
pillow
platformdirs
plotly
prometheus-fastapi-instrumentator
prometheus_client
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
py-cpuinfo
pyairports
pyarrow
pyarrow-hotfix
pycountry
pydantic
pydantic_core
Pygments
pynvml
pyparsing
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
pyzmq
ray
referencing
regex
requests
responses
rich
rpds-py
safetensors
scikit-learn
scipy
seaborn
sentencepiece
sentry-sdk
setproctitle
shellingham
shortuuid
shtab
six
smmap
sniffio
stack-data
starlette
svgwrite
sympy
tenacity
tensorboard
tensorboard-data-server
termcolor
threadpoolctl
tiktoken
tokenizers
tomli
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
triton
trl
typer
typing_extensions
tyro
tzdata
urllib3
uvicorn
uvloop
vllm
vllm-flash-attn
wandb
watchfiles
wcwidth
websockets
Werkzeug
xformers
xxhash
yarl
